@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active">库存管理</a>

    <a href="/Storage" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 库存列表
    </a> 

</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">帮助提示</h3>
    </div>
    <div class="panel-body"> 
        导入库存时，将原库存的数量清0
    </div>
</div>