@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active">材料管理</a>

    <a href="/Material" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 材料列表
    </a>
    <a href="/Material/Create" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 添加材料
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 物性管理
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 顔色管理
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 比重管理
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 孔数管理
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 时数管理
    </a>
    <a href="/Material/DiscountSet" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> 效率管理
    </a>

</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">帮助提示</h3>
    </div>
    <div class="panel-body"> 
    </div>
</div>