@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active">参数设定</a>


    <a href="/Material" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 材质列表
    </a>

    <a href="/Material/MaterialFeatureList?type=0" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 材料物性列表
    </a>

    <a href="/Material/MaterialFeatureList?type=1" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 表面物性列表
    </a>
    <a href="/Material/MaterialFeatureList?type=2" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 顔色列表
    </a>
    <a href="/Material/MaterialGravityList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 比重列表
    </a>
    <a href="/Material/BaseHoleList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 基础孔数列表
    </a>
    <a href="/Material/MaterialHoleList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 开模孔数列表
    </a>
    <a href="/Material/MaterialHourList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 生产效率列表
    </a>
    <a href="/Material/MaterialRateList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 不良率列表
    </a>

    <a href="/Material/MaterialStartAmountList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 起订金额列表
    </a>
    <a href="/Material/MaterialStorageList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 模具列表
    </a>


    <a href="/Material/StandardSizeList" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 标准件列表
    </a>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">帮助提示</h3>
    </div>
    <div class="panel-body"> 
    </div>
</div>