@{
    ViewBag.Title = "报价页面";
}

<div class="row">
    <div class="col-md-12 ">
         

    </div>
</div>
<script>
    setTimeout(function () {
        window.location.href="/Inquiry"
    },100)
</script>